@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    /* border:1px solid red; */
    background:red;
    padding: 20px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;
}

.logo img{
    /* font-size:2em; */
    /* color:#fff; */
    width:20%;
    height:15%;
    user-select: none;
}

.navigation a{
    position:relative;
    font-size:1.1em;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    margin-left:40px;
}

.navigation .btnLogin{
    width:130px;
    height:50px;
    background:transparent;
    border:2px solid #fff;
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size:1.1em;
    color:#fff;
    font-weight:500;
    margin-left:40px;
}